@import "global";

.AboutSVG{
  height: 250px;
  max-width: 500px;
}


.AboutSVG, .AboutSVGDarkFill, .AboutSVGDarkColorHair, .AboutSVGDarkColorStroke, .AboutSVGDarkColorSkin{
  transition: all .25s ease-out;
}



.dark .AboutSVGDarkFill{
  fill: $svg_fill_dark;
}

.dark .AboutSVGDarkColor{
  fill: $svg_color_dark;
}

.dark .AboutSVGDarkColorStroke{
  stroke: $svg_color_dark;
}

.dark .AboutSVGDarkColorHair{
  fill: $svg_fill_dark;
}

.dark .AboutSVGDarkColorSkin{
  fill: #c6a0a5;
}

.aboutPageContainer{
  margin-top: 45px;
}

.aboutRaj{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "aboutRajText aboutRajPhoto";
}

.aboutRajText{
  grid-area: aboutRajText;
}

.aboutRajPhoto{
  grid-area: aboutRajPhoto;
}

.aboutBlog{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aboutBlogPhoto aboutBlogText";
}

.aboutBlogPhoto{
  grid-area: aboutBlogPhoto;
}

.aboutBlogText{
  grid-area: aboutBlogText;
}