@import "global";

.ContactSVG{
  height: 200px;
  max-width: 400px;
  transition: all .25s ease-out;
}

.ContactSVG:hover{
  padding: 1px;
}

.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(7) > path:nth-child(5),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(8) > path:nth-child(5),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(18),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(3) > path:nth-child(5),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(4) > path:nth-child(5),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(6) > path:nth-child(5),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(5) > path:nth-child(5),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(16),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(14),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(5) > path:nth-child(2),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(7) > path:nth-child(2),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(8) > path:nth-child(2),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(4) > path:nth-child(2),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > g:nth-child(6) > path:nth-child(2),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > ellipse:nth-child(9),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > ellipse:nth-child(10),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > ellipse:nth-child(11),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > ellipse:nth-child(12){
  fill: white;
}

#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > circle:nth-child(49),
#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > circle:nth-child(53),
#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > circle:nth-child(46){
  transition: all .25s ease-out;
  fill: #c7d3de;
}

.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > circle:nth-child(49),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > circle:nth-child(53),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > circle:nth-child(46){
  fill: #2a3f52;
}

#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(113),
#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(103),
#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(117),
#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(107),
#ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(104){
  transition: all .25s ease-out;
}

.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(113),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(103),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(117),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(107),
.dark #ae37f038-3a9e-4b82-ad68-fc94ba16af2a > path:nth-child(104){
  fill: $svg_color_dark;
}

.contactDetails{
  display: block;
  border: 1px solid $brand_light;
  border-radius: 15px;
  margin: 30px auto;
  width: 40%;
  box-shadow: 0 0 2em rgba(0,0,0,0.125);
  transition: all .25s ease-out;

  p{margin-top: 15px; font-family: 'Nunito', sans-serif;text-align: center;font-size: 30px;font-weight: 400;}
}

.contactDetails:hover{
  transform: scale(1.01);
  box-shadow: 0 0 2.5em rgba(0,0,0,0.125);
}

.contactDetails ul{
  list-style: none;
  margin-bottom: 0;
}

.contactDetails ul li{
  transition: all .25s ease-out;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}

.contactDetails ul li:hover{
  background: rgba(0,0,0,0.09);
}

.dark .contactDetails ul li:hover{
  background: rgba(255,255,255,0.09);
}

.contactDetails ul li a{
  text-decoration: none;
}

.contactIcon{
  margin-right: 25px;

  i{
    color: #1A2977;
    transition: all .25s ease-out;
  }
}

.dark .contactIcon{
  i{
    color: rgba(255,255,255,0.9);
  }
}

@media only screen and (max-width: 800px) {
  .contactDetails{
    width: 100%;
    ul{
      margin-left: 0;
    }
    p{
      font-size: 28px;
      margin-bottom: 15px !important;
    }
  }
}