@import "global";

.homeBlogGrid{
  width: 80%;
  margin: auto;
  padding: 10px;
}

.homeBlogArchivesLinkMobile{
  display: none;
}

.homeBlogHeadingBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}

.homeBlogGridHeading{
  font-size: 28px;
}

.homeBlogGridHeadingLine{
  height: 1px;
  border-top: 2px solid $brand_light;
  max-width: 60px;
  margin-bottom: 10px;
}

.homeBlogGridArchivesLine{
  height: 1px;
  border-top: 2px solid $brand_light;
  max-width: 60px;
  margin-bottom: 10px;
  margin-left: 70%;
}

.homeBlogArchivesLink a, .dark .homeBlogArchivesLink a{
  border-bottom: none;
  background-size: 4px 0;
}

.homeBlogArchivesLink a:hover, .dark .homeBlogArchivesLink a:hover{
  background-size: 4px 50px;
}

.homeBlogBox{
  max-width: 300px;
  box-shadow:  1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  transition: all 0.25s;
  margin-top: 10px;
}

.dark .homeBlogBox{
  box-shadow:  1px 3px 0 rgba(255,255,255,.1), 0 1px 2px 0 rgba(255,255,255,.06);
}

.homeBlogBox:hover{
  box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);

  .homeBlogTitle{
    color: $brand_light;
  }

  .homeBlogImage img{
    opacity: 0.8;
  }
}

.dark .homeBlogBox:hover{
  box-shadow: 0 25px 50px -12px rgba(255,255,255,.25);
}

.homeBlogImage img{
  transition: all 0.25s;
}

.homeBlogTitle{
  text-align: center;
  font-size: 27px;
  font-family: $subHeadingFont;
  font-weight: 600;
  margin: auto;
  transition: all 0.25s;
}

.homeBlogDateTag{
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}

.homeBlogIcon{
  margin-right: 7px;
}

.dark .homeBlogTag svg{
  fill: #ffffff;
}

.homeBlogDate, .homeBlogTag{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;

  svg{
    margin-right: 4px;
  }
}

.homeBlogTag svg{
  transition: all 0.25s !important;
}

.homeBlogExcerpt{
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  padding: 10px 4px;
}

@media only screen and (max-width: 800px) {
  .homeBlogArchivesLink{
    display: none;
  }

  .homeBlogArchivesLinkMobile{
    display: flex;
    justify-content: center;
    background: $brand_dark;
    padding: 4px;
    border-radius: 11px;
    margin-bottom: 10px;

    i{
      margin-right: 5px;
      color: #C2CEDA;
    }
    a{
      color: #ffffff;
    }
  }

}