@import "global";

.tagssvg{
  margin: auto !important;
}

.TagsContentTitle{
  font-family: $headingFont;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.allTagsList{
  text-align: center;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .tagssvg{
    width: 270px;
    margin-right: 0;
    margin: auto;
  }
}